
<style>
	.profile {
    width: 300px;
    height:300px;
    border-radius: 50%
}

</style>
{%  extends 'issues/main.html' %}

{% block content %}
{{marks}}
	<br>
	<br>
	<img class="profile" src="{{request.user.person.propic.url}}">
	<br>

	<br>
	

	<div class="col-md">
		<div class="card card-body">
			<h5>Contact Information</h5>
            <hr>
            <p>NAME:{{name}}</p>
			<p>Email: {{email}}</p>
			<p>regid: {{address}}</p>
            <p>gender:{{gender}}</p>
			<p>phone:{{phone}}</p>
			<form method="POST" action="">
		{% csrf_token %}
		<label for="lname">email:</label><br>
		<input type="text" id="lname" name="email" value="{{email}}">
		<label for="lname">Phone:</label><br>
		<input type="text" id="lname" name="phone" value="{{phone}}">
		<label for="lname">Adresss:</label><br>
		<input type="text" id="lname" name="phone" value="{{address}}">
		<button type="submit" >UPDATE</button>
	  </form>
		</div>
	</div>

	
	

{% endblock %}