
 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
</head>
<style>
    body {
    background-size: cover;
}

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
}

*[role="form"] h2 { 
    font-family: 'Open Sans' , sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}


</style>
<body>
    <center><H3>PEOPLE'S PROBLEM WEBSITE </H3></center>

        
    
<form class="form-horizontal" role="form" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Registration</h2>
    <div class="form-group">
        <label for="firstName" class="col-sm-3 control-label">{{form.username.label}}
            
           </label>
        <div class="col-sm-9">
            {{form.username}}        </div>
    </div>
    
    <div class="form-group">
        <label for="firstName" class="col-sm-3 control-label">{{form.email.label}}
            
           </label>
        <div class="col-sm-9">
            {{form.email}}        </div>
    </div>
    <div class="form-group">
        <label for="firstName" class="col-sm-3 control-label">{{form.phone.label}}
            
           </label>
        <div class="col-sm-9">
            {{form.phone}}        </div>
    </div>
    <div class="form-group">
        <label for="firstName" class="col-sm-3 control-label">{{form.gender.label}}
            
           </label>
        <div class="col-sm-9">
            {{form.gender}}        </div>
    </div>
    <div class="form-group">
        <label for="firstName" class="col-sm-3 control-label">ADDRESS
            
           </label>
        <div class="col-sm-9">
            {{form.address}}        </div>
    </div>
    <div class="form-group">
        <label for="firstName" class="col-sm-3 control-label">PROFILE PIC
            
           </label>
        <div class="col-sm-9">
            {{form.propic}}        </div>
    </div>
    
    <div class="form-group">
        <label for="firstName" class="col-sm-3 control-label">{{form.password1.label}}
            
           </label>
        <div class="col-sm-9">
            {{form.password1}}        </div>
    </div>
    <div class="form-group">
        <label for="firstName" class="col-sm-3 control-label">{{form.password2.label}}
            
           </label>
        <div class="col-sm-9">
            {{form.password2}}        </div>
    </div>

    <button type="submit" class="btn btn-primary btn-block"> REGISTER  </button>

    {{form.errors}}
    <p class="text-center">Dont Have Account ?? create <a href="/login">Log In</a> </p>                                                                 

    </form>
</body>
</html>